@page "/"

@using System.Text.RegularExpressions
@using ShopeeCoinsCalc.Models
@using ShopeeCoinsCalc.Components

@inject IJSRuntime JS;

<PageTitle>Shopee Coins Calculator</PageTitle>
<style>
	body {
		background-color: lightgoldenrodyellow;
	}
</style>
<div style="display: flex; height: 90vh;">
	<div style="flex: 1; display: flex; flex-direction: column;">
		<h1>1. 蝦幣紀錄貼到這裡</h1>
        <textarea @bind="_viewModel.InputText" style="flex: 1; resize: none;" @onfocus="SelectAllText" @ref="inputTextArea"></textarea>
		<br />
		<h1>2. 按下計算</h1>
        <button class="btn-info" @onclick="Count" style="width: 200px; height: 100px; margin: auto"><h1>計算</h1></button>
	</div>
</div>

<Result ShowResult="_viewModel.ShowResult"
ViewModel="_viewModel"/>

@code{
    [Inject]
    private ResultViewModel _viewModel { get; set; } = new ResultViewModel();
    private ElementReference inputTextArea;


    private void Count()
    {
        if (!string.IsNullOrWhiteSpace(_viewModel.InputText))
            _viewModel.CountNew();
    }
    private async Task SelectAllText(FocusEventArgs e)
    {
        await JS.InvokeVoidAsync("selectAllText", inputTextArea);
    }

}