@using ShopeeCoinsCalc.Models


@if (ShowResult)
{
    <!-- 使用 Bootstrap 的標準對話窗標記宣告 -->

    <div class="modal" tabindex="-1" role="dialog" style="display:block; border: 2px solid black" @ref="modalDiv" @onkeydown="HandleKeyDown">
        <div class="modal-dialog" role="document" style="max-width: 80vw">
            <div class="modal-content">

                <div style="margin: 20px;">
                    <h3>計算結果:</h3>
                    <br />
                    <p>含轉盤共 @ViewModel.RetrivedCount 場直播蝦幣</p>
                    <p>總共賺了 @ViewModel.TotalAmount 蝦幣</p>

                    <div style="display: flex; flex-wrap: wrap;">
                        @if (ViewModel.SummaryData != null)
                        {
                            var groupedData = ViewModel.SummaryData
                            .Select((item, index) => new { item, index })
                            .GroupBy(x => x.index / 5)
                            .Select(g => g.Select(x => x.item).ToList())
                            .ToList();

                            foreach (var group in groupedData)
                            {
                                <table class="table" cellpadding="1px" cellspacing="1px" style="width: auto; border-collapse: collapse; max-width: 100%; border: 2px solid black; margin: 10px;">
                                    <thead>
                                        <tr>
                                            <th style="border: 1px solid black; padding: 8px; text-align: right;">蝦幣</th>
                                            <th style="border: 1px solid black; padding: 8px; text-align: right;">次數</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var g in group)
                                        {
                                            <tr>
                                                <td style="border: 1px solid black; padding: 8px; text-align: right;">@g.Key</td>
                                                <td style="border: 1px solid black; padding: 8px; text-align: right;">@g.Count()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        }
                    </div>

                    <br />

                    <button class="btn-secondary" @onclick="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool ShowResult { get; set; } = false;
    [Parameter]
    public ResultViewModel ViewModel { get; set; } = new ResultViewModel();

    private ElementReference modalDiv;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (ShowResult)
            await modalDiv.FocusAsync();

        await base.OnAfterRenderAsync(firstRender);
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Escape") Close();
    }

    private void Close()
    {
        ShowResult = false;
        ViewModel.ShowResult = false;
        StateHasChanged();
    }
}